apiVersion: datadoghq.com/v2alpha1
kind: DatadogAgent
metadata:
  name: datadog
  namespace: datadog
spec:
  override:
    nodeAgent:
      containers:
        trace-agent:
          env:
          - name: DD_APM_ENV
            value: {{ ENV_NAME }}
  global:
    credentials:
      apiSecret:
        secretName: datadog-api-key
        keyName: api-key
    site: us5.datadoghq.com
    clusterName: {{ ENV_NAME }}
  features:
    admissionController:
      enabled: true
      mutateUnlabelled: false
    apm:
      enabled: true
      instrumentation:
        enabled: true
        enabledNamespaces:
        - meshforms
        - meshdb
    logCollection:
      enabled: true
      containerCollectAll: true
    liveContainerCollection:
      enabled: true
    orchestratorExplorer:
      enabled: true
