#!/bin/bash

set -e

# Renew the cert
/root/certbot_venv/bin/certbot certonly \
    --authenticator standalone \
    --http-01-port 63443 \
    --text \
    --expand \
    --non-interactive \
    --agree-tos \
    -m jameso@nycmesh.net \
    --domain '{{ MESHDB_FQDN }}'

# Copy the current full cert chain to haproxy config location
CERTS_DIR="/etc/haproxy/ssl"
if [ ! -d "$CERTS_DIR" ]; then
    mkdir -p "$CERTS_DIR"
fi

# Grab the first domain in the list. Not that it matters but it should be
# {dev}db.mesh.nycmesh.net
first_domain=$(echo '{{ MESHDB_FQDN }}' | awk -F ',' '{print $1}')

cat /etc/letsencrypt/live/$first_domain/fullchain.pem > $CERTS_DIR/lb.pem
cat /etc/letsencrypt/live/$first_domain/privkey.pem > $CERTS_DIR/lb.pem.key

# Reload the service
service haproxy reload
