*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -p icmp -j ACCEPT
-A INPUT -d {{ inventory_hostname }}/{{ INTERNAL_NETWORK_RANGE }} -p tcp -m tcp --dport 22 -j ACCEPT

{% for external_ip in EXTERNAL_LISTEN_IPS.split(';') %}

-A INPUT -d {{ external_ip }}/32 -p tcp -m tcp --dport 80 -j ACCEPT
-A INPUT -d {{ external_ip }}/32 -p tcp -m tcp --dport 443 -j ACCEPT
-A INPUT -d {{ external_ip }}/32 -j DROP
-A FORWARD -d {{ external_ip }}/32 -p tcp -m tcp --dport 80 -j ACCEPT
-A FORWARD -d {{ external_ip }}/32 -p tcp -m tcp --dport 443 -j ACCEPT
-A FORWARD -d {{ external_ip }}/32 -j DROP

{% endfor %}

COMMIT