- name: Copy manifiest
  ansible.builtin.template:
    src: ./templates/cluster_manifest.yaml.j2
    dest: /root/cluster_manifest.yaml
    owner: root
    group: root
    mode: '0600'
  become: true

- name: Apply manifest
  ansible.builtin.command:
    chdir: /root/
    cmd: kubectl apply -f cluster_manifest.yaml
  become: true
