- name: Install packages on each node
  ansible.builtin.apt:
    pkg:
      - open-iscsi
      - nfs-common
      - cryptsetup
    update_cache: true

- name: Add WN
  ansible.posix.authorized_key:
    user: debian
    state: present
    key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINg7wq0d3JOKp9qmuaAlriDXoz3H4lt2LNJczOtBygsw wilnil@willardpad"

- name: Add AD
  ansible.posix.authorized_key:
    user: debian
    state: present
    key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINqMvlwLFwGENT5WMjytI2iwVlHPV2TX+gOgBXj9kw4k andrew@localhost"
