apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  repo: https://charts.longhorn.io
  chart: longhorn
  targetNamespace: longhorn-system
---
apiVersion: v1
kind: Namespace
metadata:
  name: datadog
---
apiVersion: v1
kind: Secret
metadata:
  name: datadog-api-key
  namespace: datadog
type: Opaque
data:
  api-key: {{ DATADOG_API_KEY }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: datadog-operator
  namespace: datadog
spec:
  repo: https://helm.datadoghq.com 
  chart: datadog/datadog-operator
  targetNamespace: datadog
---
apiVersion: datadoghq.com/v2alpha1
kind: DatadogAgent
metadata:
  name: datadog
  namespace: datadog
spec:
  global:
    credentials:
      apiSecret:
        secretName: datadog-secret
        keyName: api-key
  features:
    apm:
      enabled: true
    logCollection:
      enabled: true

