apiVersion: datadoghq.com/v2alpha1
kind: DatadogAgent
metadata:
  name: datadog
  namespace: datadog
spec:
  global:
    originDetectionUnified:
        enabled: true
    credentials:
      apiSecret:
        secretName: datadog-api-key
        keyName: api-key
    site: us5.datadoghq.com
    clusterName: {{ ENV_NAME }}
  features:
    apm:
      enabled: true
    logCollection:
      enabled: true
      containerCollectAll: true
    liveContainerCollection:
      enabled: true
    orchestratorExplorer:
      enabled: true
    dogstatsd:
        hostPortConfig:
            enabled: true
