apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--entryPoints.web.proxyProtocol.trustedIPs={{ TRAEFIK_TRUSTED_IPs }}"
      - "--entryPoints.web.forwardedHeaders.trustedIPs={{ TRAEFIK_TRUSTED_IPs }}"
