#!/bin/bash

set -e

CERT_NAME="k8slb"

# Renew the cert
/root/certbot_venv/bin/certbot certonly \
    --cert-name $CERT_NAME \
    --authenticator standalone \
    --http-01-port 63443 \
    --text \
    --expand \
    --non-interactive \
    --agree-tos \
    -m jameso@nycmesh.net \
    --domain '{{ MESHDB_FQDN }}'

# Copy the current full cert chain to haproxy config location
CERTS_DIR="/etc/haproxy/ssl"
if [ ! -d "$CERTS_DIR" ]; then
    mkdir -p "$CERTS_DIR"
fi

# Known path to the certs based on the --cert-name arg
full_chain_path="/etc/letsencrypt/live/$CERT_NAME/fullchain.pem"
priv_key_path="/etc/letsencrypt/live/$CERT_NAME/privkey.pem"

# Only update the certs if they exist, otherwise fail here before something broken is rolled out
if [ ! -f "$full_chain_path" ] || [ ! -f "$priv_key_path" ]; then
    exit 1
else
    cat /etc/letsencrypt/live/$CERT_NAME/fullchain.pem > $CERTS_DIR/lb.pem
    cat /etc/letsencrypt/live/$CERT_NAME/privkey.pem > $CERTS_DIR/lb.pem.key
fi

# Reload the service
service haproxy reload
