name: Deploy Environments
permissions: read-all

on:
  push:
    branches:
      - main
  workflow_dispatch:
    branches:
      - main

jobs:
  deploy_dev3:
    name: Deploy dev3
    uses: ./.github/workflows/deploy_k8s_cluster.yaml
    with:
      environment: dev3
    secrets: inherit
    if: github.ref == 'refs/heads/main'

  deploy_gamma1:
    name: Deploy gamma1
    uses: ./.github/workflows/deploy_k8s_cluster.yaml
    with:
      environment: gamma1
    secrets: inherit
    if: github.ref == 'refs/heads/main'

  deploy_prod1:
    name: Deploy prod1
    needs: deploy_dev3
    uses: ./.github/workflows/deploy_k8s_cluster.yaml
    with:
      environment: prod1
    secrets: inherit
    if: github.ref == 'refs/heads/main'
  
  deploy_prod2:
    name: Deploy prod2
    needs: deploy_prod1
    uses: ./.github/workflows/deploy_k8s_cluster.yaml
    with:
      environment: prod2
    secrets: inherit
    if: github.ref == 'refs/heads/main'
