name: pull-request

on:
  pull_request:

permissions: read-all

env:
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE}}

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # @v3
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        id: fmt
        run: terraform fmt -check
        working-directory: ./terraform/

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@5051a5cfc7e4c71d95199f81ffafbb490c7e6213
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v3
        if: success() || failure()
        with:
          sarif_file: results.sarif

      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""
