name: pull-request

on:
  pull_request:

permissions: read-all

env:
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE}}

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # @v4.0.0
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        id: fmt
        run: terraform fmt -check
        working-directory: ./terraform/

      - name: Setup ansible
        run: pip install --require-hashes -r ansible/requirements.txt && export PATH="$HOME/.local/bin:$PATH" && ansible-galaxy collection install --force -r ansible/roles/requirements.yml

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@05d9f3cd4807c3dea7444d4e60dc44ad57928ab5
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v3
        if: success() || failure()
        with:
          sarif_file: results.sarif

      - name: Run ansible-lint
        uses: ansible/ansible-lint@7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""
