name: pull-request

on:
  pull_request:

permissions: read-all

env:
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE}}

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # @v3
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        id: fmt
        run: terraform fmt -check
        working-directory: ./terraform/

      - name: Setup ansible
        run: pip install --require-hashes -r ansible/requirements.txt && export PATH="$HOME/.local/bin:$PATH" && ansible-galaxy collection install --force -r ansible/roles/requirements.yml

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@b3c44b4437c93549fc8cfaef9208497ba4955d39
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v3
        if: success() || failure()
        with:
          sarif_file: results.sarif

      - name: Run ansible-lint
        uses: ansible/ansible-lint@7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""
